@{
    ViewData["Title"]= "WatchStore";
}
@section css{
    <link rel="stylesheet" href="~/css/product-detail.css" >
}
@section scripts{
    <script src="~/js/product-detail.js"></script>
}
<!--Banner small-->
<div class="container-fluid">
    <div class="banner-sm section">
        
    </div>
</div>
<!--Prodcut Detail-->
<div class="container">
    <div class="product-detail contents" >
        <!--Product info -->
        <div class="section">
            <div class="row">
                <div class=" col-12 col-md-6 col-lg-5">
                    <div id="gallery"> 
                        <div class="img-content mb-4">
                            <div class="img">
                            </div>
                        </div> 
                        <a class="arrow-prev white"><i class="las la-angle-left"></i></a>
                        <a class="arrow-next white"><i class="las la-angle-right"></i></a>
                    </div>                  
                    <div id="gallery-nav">
                        <div class="img">
                            <img src="~/products/img.jpg">
                        </div>
                        <div class="img">
                            <img src="~/products/img3.jpg">
                        </div>
                        <div class="img">
                            <img src="~/products/img2.jpg">
                        </div>
                        <div class="img">
                            <img src="~/products/img3.jpg">
                        </div>
                        <div class="img">
                            <img src="~/products/img3.jpg">
                        </div>
                    </div>                            
                </div>
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="product-text" data-itemid=1>
                        <h1 class="normal mb-3 text-2"></h1>
                        <div class="mb-4">
                            <p class="italic bold">Производитель: <span class="pl-2 normal "></span></p>
                            <p class="italic bold">Тип ремешка: <span class="pl-2 normal "></span></p>
                            <p class="italic bold">Категория: <span class="pl-2 normal"></span></p>
                        </div>
                        <div class="text-3  mb-4">
                        </div>
                               
                        <div class="group-btns text-center mb-3">
                            <a class="buy-now btn btn-lg white bg-red mb-3" href="/gio-hang" >Купить</a>
                            <a class="to-cart btn btn-lg white bg-black ">В корзину</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!--Product description-->
        <div class="section">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h3 class="mb-4">Характеристики</h3>
                    <table class="table table-color">
                    <tbody>
                            <tr>
                                <td scope="row">Товарный Знак</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Происхождение</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Классифицировать</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Очки</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Диаметр Циферблата</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Толщина Поверхности Номера</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Машина</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Группа</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Ремень</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Водонепроницаемый</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Функция</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Страна Производства</td>
                                <td>Пусто</td>
                            </tr>
                            <tr>
                                <td scope="row">Гарантия</td>
                                <td>Пусто</td>
                            </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-7">
                    <h3 class="mb-4"></h3>
                    <div id="posts">
                    </div>
                </div>
            </div> 
        </div>
        <!--Product Other-->
        <div class="section">
            <h3 class="text-center mb-4 mb-lg-5">Другие товары</h3>
            <div id="product-container-other">
                </div><div></div><div></div><div></div></div>
            </div>
            <a class="text-center link  d-block"> Больше </a>
        </div> 
    </div>
</div>
